html{
    font-size: 10px;
}

body{
    font-family: 'Poppins', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    text-align: center;
    margin: 0;
    color: #000000;    
}

#main{
    margin: 40px 40px 40px 40px;
    padding: 10px;
    border-radius: 5px;
    background: #eeeeee;
}

h1{
    font-size: 5rem;
    margin-bottom: 0;
}

#short-quote{
    margin-top: 0;
    margin-bottom: 5rem;
    font-size: 3rem;
    font-style: italic;
}
 
#img-div{
    background: #ffffff;
    border-radius: 5px;
    padding: 10px;
}

#img-caption{
    margin: 15px 0px 5px 0px;
    font-style: oblique;
}

img{
    max-width: 70%;
    display: block;
    height: auto;
    margin: 0 auto;
}

#tribute-info{
    text-align: justify;
}

a{
    color: #C13535;
}

a:visited{
    color: #7C2222;
}

blockquote{
    text-align: center;
    font-style: italic;
    
}
